@font-face {
	font-family: 'SansationLight';
	src: url('fonts/SansationLight.ttf');
}
html {
  background: url(../pics/farm.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.headline {
  width: 95%;
  height: 140px;
  position: absolute;
  margin-top: -20;
  margin-left: 20px;
  transform: skew(20deg);
  background-color: #0971B2;
	border-radius: 10px;
	opacity: .9
}
/*make headline more with page*/
.headline p {
  font-size: 60px;
  font-family: SansationLight;
  color: #FFFC19;
  position: absolute;
  margin-top: 50;
	margin-left: 30;
	opacity: 1.0;
	font-weight: bold;
}
.sideline {
	width: 230px;
	height: 1300px;
	position: absolute;
	margin-left: -100;
	margin-top: 160;
	transform: skew(-5deg);
	background: linear-gradient(#1485CC, transparent);
	border-radius: 100px;
	opacity: .9
}
.white {
	height: 1200px;
	width: 230px;
	position: absolute;
	margin-left: -30;
	margin-top: 160;
	transform: skew(-5deg);
	background: linear-gradient(#ffffff, transparent);
	border-radius: 100px;
	opacity: .9;
}
.blue {
	height: 1200px;
	width: 230px;
	position: absolute;
	margin-left: 50;
	margin-top: 160;
	transform: skew(-5deg);
	background: linear-gradient(#B21212, transparent);
	border-radius: 100px;
	opacity: .9;
}
.info_container {
	height: 800;
	width: 800;
	position: absolute;
	margin-left: 310;
	margin-top: 250;
	transform: skew(-5deg);
	background-color: white;
	border-radius: 10px;
	opacity: .8;
}
.info_container p:nth-child(1) {
	position: absolute;
	margin-top: 40;
	margin-left: 20px;
	font-size: 50px;
	font-family: SansationLight;
	font-weight: bold;
	font-style: italic;
}
.info_container p:nth-child(2) {
	position: absolute;
	margin-top: 140;
	margin-left: 20px;
	font-size: 50px;
	font-family: SansationLight;
	font-weight: bold;
	font-style: italic;
}
.info_container p:nth-child(3) {
	position: absolute;
	margin-top: 240;
	margin-left: 20px;
	font-size: 50px;
	font-family: SansationLight;
	font-weight: bold;
	font-style: italic;
}
.info_container p:nth-child(4) {
	position: absolute;
	margin-top: 390;
	margin-left: 20px;
	font-size: 50px;
	font-family: SansationLight;
	font-weight: bold;
	font-style: italic;
}
.yellow {
	height: 200px;
	width: 300px;
	margin-left: 815px;
	margin-top: 275px;
	opacity: auto 1.0;
	transform: skew(-5deg);
}
.yellow:hover {
	animation: myanime 2s;
	animation-fill-mode: forwards;
	animation-delay: 7;
}
@keyframes myanime {
	from {transform: scale();}
	to {transform: scale(1,1);}
}
.bhds {
	color: blue;
}
.lowell {
	color: maroon;
}
.extender {
	height: 1;
	width: 1;
	position: absolute;
	background-color: transparent;
	margin-top: 1500px;
}
#footer {
  align-self: center;
  position: absolute;
  margin-top: 1400;
  margin-left: 37%;
  font-family: fantasy;
  font-size: 15px;
  font-style: oblique;
  color: #C5C1C0;
}
p a {
  font-family: fantasy;
  font-size: 15;
  font-style: oblique;
  color: #C5C1C0;
}
/* #FF0000=red #B21212=dark red #FFFC19=yellow #1485CC=light blue #0971B2=darkblue */
