@font-face {
	font-family: 'SansationLight';
	src: url('fonts/SansationLight.ttf');
}
html {
  background: url(../pics/tree.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login p:nth-child(1) {
  font-family: SansationLight;
  font-size: 20px;
  position: absolute;
  margin-top: 20px;
  margin-left: 1050px;
  font-weight: bolder;
  color: #713e2b;
}
.login p:nth-child(2) {
  font-family: SansationLight;
  font-size: 20px;
  position: absolute;
  margin-top: 20px;
  margin-left: 1150px;
  font-weight: bolder;
  color: #713e2b;
}
.headline {
  background-color: #0089df;
  height: 150px;
  width: 85%;
  position: absolute;
  margin-left: 100px;
  margin-top: 120px;
  opacity: .8;
  border-radius: 5px;
}
.title {
  font-family: SansationLight;
  font-size: 60px;
  position: absolute;
  margin-top: 175px;
  margin-left: 200px;
  font-weight: normal;
  color: #97ccff;
}
.sub {
  font-family: SansationLight;
  font-size: 20px;
  position: absolute;
  margin-top: 205px;
  margin-left: 575px;
  font-weight: normal;
  color: #97ccff;
}
.center {
  background-color: #0067a7;
  height: 1200px;
  width: 60%;
  position: absolute;
  margin-left: 150px;
  margin-top: 270px;
  opacity: .8;
}
.right {
  background-color: #085fc2;
  height: 800px;
  width: 260px;
  opacity: .8;
  margin-left: 1005px;
  margin-top: 270px;
  position: absolute;
}
.right2 {
  background-color: #005a92;
  height: 600px;
  width: 180px;
  opacity: 1.0;
  margin-left: 1045px;
  margin-top: 300px;
  position: absolute;
}
.right2 a {
  font-size: 25px;
  text-align: center;
  font-family: SansationLight;
  color: #97ccff;
  margin-bottom: 40px;
	text-decoration: none;
}
/*.right2 p:nth-child(2) {
  font-size: 25px;
  text-align: center;
  font-family: SansationLight;
  color: #97ccff;
  margin-bottom: 40px;
}
.right2 p:nth-child(3) {
  font-size: 25px;
  text-align: center;
  font-family: SansationLight;
  color: #97ccff;
  margin-bottom: 40px;
}*/
.extender {
  width: 1px;
  height: 1px;
  background-color: transparent;
  margin-top: 1800px;
  position: absolute;
}
